@keyframes roll-down {
  0% {
    transform: rotateX(0) translateY(0);
  }
  100% {
    transform: rotateX(360deg) translateY(100px);
  }
}

.roll-down {
  /* animation: roll-down 2s linear infinite; */
  display: none;
}
